<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit party</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:if="${form != null}">
    <form action="#" th:action="@{'/board/{id}'(id=${form.getId()})}" th:object="${form}" method="post">
        <table>
            <tr th:text="${form.name} + ' by ' + ${form.master}"></tr>
            <tr th:text="${form.description}"></tr>
            <tr>
                <td>Your characters</td>
                <td>Messages</td>
                <td>Help</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li th:each="character : *{characters}">
                            <ul>
                                <li th:text="'Player: ' + ${character.owner.username}"></li>
                                <li th:text="'Character Name: ' +${character.name}"></li>
                                <li th:text="'AC: ' +${character.ac}"></li>
                                <li th:text="'HP: ' +${character.hp}"></li>
                                <li th:text="'Initiative Mod.: ' +${character.initiative}"></li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li th:each="message : *{messages}">
                            <span th:text="${message}"></span>
                        </li>
                    </ul>
                </td>
                <td>
                    type /initiative to roll initiative <br/>
                    type XdY roll Y-side dice X times
                </td>

            </tr>
            <tr>
                <td><input type="text" th:field="*{newMessage}" /></td>
            </tr>
            <tr>
                <td><button type="submit">Post</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>