<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/character/new}" th:object="${form}" method="post">
    <h1>New character</h1>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Hp:</td>
            <td><input type="number" th:field="*{hp}" /></td>
            <td th:if="${#fields.hasErrors('hp')}" th:errors="*{hp}">Hp Error</td>
        </tr>
        <tr>
            <td>АС:</td>
            <td><input type="number" th:field="*{ас}" /></td>
            <td th:if="${#fields.hasErrors('ас')}" th:errors="*{ас}">Ас Error</td>
        </tr>
        <tr>
            <td>Initiative:</td>
            <td><input type="number" th:field="*{initiative}" /></td>
            <td th:if="${#fields.hasErrors('initiative')}" th:errors="*{initiative}">Initiative Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>